{% extends "base.html" %}
{% block title %}
<title>WTFBins - Contribute</title>
{% endblock title %}
{% block card %}
  <meta property="og:url" content="https://wtfbins.wtf/contribute" />
  <meta property="og:card" content="summary_large_image" />
  <meta property="og:title" content="WTFBins - Contribute"/>
  <meta property="og:author" content="mttaggart" />
  <meta property="og:description" content="WTFBins: benign applications that exhibit suspicious behavior"/>
  <meta property="og:image" content="https://wtfbins.wtf/wtfbin.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="WTFBins"/>
  <meta name="twitter:site" content="@mttaggart" />
  <meta name="twitter:creator" content="@mttaggart" />
  <meta property="twitter:description" content="WTFBins: benign applications that exhibit suspicious behavior"/>
{% endblock card %}
{% block content %}
{{ super() }}
<div class="bin-item contribute">
  <p>
    Got a WTFBin to add? 
    Create a new <a href="https://github.com/mttaggart/wtfbins/issues/new?assignees=&amp;labels=new+wtfbin&amp;template=custom.md&amp;title=%5BNew+WTFBin%5D%3A+WTFBIN+Here">GitHub Issue</a> for it! The submission will be reviewed and adopted if it passes scrutiny.</p><p>We're looking for applications (on any platform) that exhibit behavior which could be considered suspicious or malicious during threat hunting or incident response.</p>
    <p>And hey—thank you for the contribution!</p>
</div>
{% endblock content %}
