.tagContainer h3 {
    font-size: 1rem;
}

.tagContainer ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.wtfBinTag {
    font-size: 0.9rem;
    list-style: none;
    margin: 0.2rem;
    padding: 0.4rem;
    border-radius: 5px;
    background: rgb(41, 41, 41);
}
.wtfBinTag:hover {
    color: magenta;
    cursor: pointer;
}