.searchForm {
    margin-top: 1rem;
    vertical-align: middle;
    padding: 1rem;
}
.searchForm label {
    margin-right: 1rem;
}

.searchForm input {
    width: 80%;
    line-height: 2rem;
    font-size: 1.6rem;
    padding: 0.2rem;
    background: black;
    color: magenta;
    border: 1px dashed magenta;
    border-radius: 3px;
}

@media screen and (min-width: 700px) {
    .searchForm input {
        display: block;
        width: 98%;
    }

    .searchForm {
        padding: 0rem 1rem;
    }

}

@media screen and (min-width: 1025px) {
    .searchForm input {
        display: block;
        width: 30%;
    }
}

@media screen and (max-width: 700px) {

    .searchForm input {
        display: block;
        width: 100%;
    }

    .searchForm label {
        display: block;
        margin: 0.4rem 0rem;;
    }

}