.binItem {
    list-style: none;
    background: rgb(138, 138, 138);
    padding: 1rem;
    margin: 10px 10px;
    border-radius: 10px;
    max-width: 30%;
    min-width: 30%;
    font-weight: 400;
    /* transition: box-shadow .3s; */
    box-shadow: 1px 1px 3px black;
}

.binItem h2 {
    margin: 0;
}

@media screen and (max-width: 1025px) {
    .binItem {
        flex-direction: column;
        max-width: 90%;
        min-width: 90%;
    }
}

@media screen and (max-width: 1025px) {
    .binItem {
        max-width: 90%;
        min-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.binContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    hyphens: manual;
  }
  .tagline {
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  @media screen and (max-width: 700px) {
    .binContainer {
      flex-direction: column;
    }
  }